JavaApplication3_NB/xml-resources/web-service-references/echo/wsdl/localhost_8080/JAX-WS-RM-01_Server_NB/echo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.raul.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.raul.com/">

<xs:element name="echo" type="tns:echo" />

<xs:element name="echoResponse" type="tns:echoResponse" />

<xs:complexType name="echo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="echoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>